<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Particular std info</title>
    
    <link rel="stylesheet" href="/particular-student-stats.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://erp.sathyabama.ac.in/assets/images/logo-new.png" alt="Logo">
        </div>
        <div class="user-profile">
            <img src="https://erp.sathyabama.ac.in/assets/images/Chancellor.jpg" alt="User Avatar">
            <div class="username">Student</div>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt"></i>  Logout</a>
        </div>
    </nav>



    <div class="container">
        <div class="sidebar">
            <h1 class="dash">Dashboard</h1>
            <div class="admin-profile">
                <div class="admin-icon"><img src="/img/student.jpg" alt="Staff Image"></div>
                <p><%=student_data.std_name%></p>
            </div>
            <ul>
                <li><a href="/student-dashboard"><i class="fas fa-home"></i>  Home</a></li>
                <li><a href="/odop-std-question"><i class="fas fa-edit"></i>  ODOP Question</a></li>
                <li><a href="/edit-my"><i class="fas fa-user-plus"></i>  Edit</a></li>
                <li><a href="/my-stats"><i class="fas fa-file-alt"></i>  My Statistics</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>My Statistics</h1>
            <div class="details">
                <div class="detail-row">
                    <div class="label">Name:</div>
                    <div class="value"><%=student_data.std_name%></div>
                </div>
                <div class="detail-row">
                    <div class="label">Reg No:</div>
                    <div class="value"><%=student_data.reg_no%></div>
                </div>
                <div class="detail-row">
                    <div class="label">Average Marks:</div>
                    <div class="value">89</div>
                </div>


            <table class="marks-table">
                <thead>
                    <tr>
                        <th>ODOP Weeks</th>
                        <th>Remarks</th>
                        <th>Marks</th>
                        <th>Submited Date</th>
                        <th>Open</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% 
                        let weekCounter = 1; 
                        std_ans.forEach(function(data){ 
                        %>
                        <tr>
                            <td class="day">Week <%= weekCounter %></td>
                            <td><%=data.question%></td>
                            <td><%=data.std_reg_no%></td>
                            <td><%=data.submitted_date%></td>
                        </tr>
                        <% weekCounter++; }); %>
                    
                    
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>
