<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="staff-dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://erp.sathyabama.ac.in/assets/images/logo-new.png" alt="Logo">
        </div>
        <div class="user-profile">
            <img src="https://erp.sathyabama.ac.in/assets/images/Chancellor.jpg" alt="User Avatar">
            <div class="username">Student Mentee</div>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt"></i>  Logout</a>
        </div>
    </nav>



    <div class="container">
        <div class="sidebar">
            <h1 class="dash">Dashboard</h1>
            <div class="admin-profile">
                <div class="admin-icon"><img src="/img/student.jpg" alt="std_mentee_ Image"></div>
                <p><%=std_data.std_mentee_Name%></p>
            </div>
            <ul>
                <li><a href="/std-mentee-dashboard"><i class="fas fa-home"></i>  Home</a></li>
                <li><a href="/odop-std-mentee-question"><i class="fas fa-edit"></i>  ODOP Question</a></li>
                <li><a href="/edit-student-by-mentee"><i class="fas fa-user-plus"></i>  Edit Student</a></li>
                <li><a href="/student-mentee-stats"><i class="fas fa-file-alt"></i>  Student Statistics</a></li>
                <li><a href="/odop-std-mentee-clac"><i class="fas fa-file-alt"></i>  ODOP Review</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Mentee Information</h1>
            <div class="details">
                <div class="detail-row">
                    <div class="label">Name:</div>
                    <div class="value"><%=std_data.std_mentee_Name%></div>
                </div>
                <div class="detail-row">
                    <div class="label">Email:</div>
                    <div class="value"><%=std_data.std_mentee_Email%></div>
                </div>
                <div class="detail-row">
                    <div class="label">Gender:</div>
                    <div class="value"><%=std_data.std_mentee_Gender%></M></div>
                </div>
                <div class="detail-row">
                    <div class="label">Mobile No:</div>
                    <div class="value"><%=std_data.std_mentee_MobileNum%></div>
                </div>
                <div class="detail-row">
                    <div class="label">Department:</div>
                    <div class="value">Information Technology</div>
                </div>
                <div class="detail-row">
                    <div class="label">Handling Nos:</div>
                    <div class="value">11</div>
                </div>
            </div>
        </div>
    </div>
    
        <% if (success) { %>
            <script>
            Swal.fire({
                icon: 'success',
                title: 'Welcome',
                text: 'Logged in successfully'
            });
        </script>
        <% } %>
</body>
</html>